.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.tile {
  background: transparent;
  border: 1px solid transparent;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 70px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 70px;
}
.tile > img {
  width: 75%;
  height: 75%;
}
.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.dark {
  background-color: RGB(187, 190, 100);
}

.light {
  background-color: RGB(234, 240, 206);
}

.darker-span {
  filter: brightness(0.3);
}
